@page "/Register"
@layout LoginRegisterLayout

@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar 


<div style="width: 30%">
    @RenderRegisterPanel
</div>

@code {
    private RenderFragment RenderRegisterPanel => __builder =>
    {
        <MudPaper Elevation="5" Class="pa-5">
            
            <MudForm Model="@m_userModel" @ref="@m_mudForm" Validation="@m_userModelValidator.ValidateValue" ValidationDelay="0">
                
                <MudText Typo="Typo.body2" Class="mb-2">
                    <b>
                        Register:
                    </b>
                </MudText>

                <MudTextField T="string" Label="First Name" ShrinkLabel
                              @bind-Value="@m_userModel.FirstName" For="@(() => m_userModel.FirstName)"
                              InputType="InputType.Email" Margin="Margin.Dense" Variant="Variant.Filled" Typo="Typo.caption"
                              Class="my-2"/>

                <MudTextField T="string" Label="Last Name" ShrinkLabel
                              @bind-Value="@m_userModel.LastName" For="@(() => m_userModel.LastName)"
                              InputType="InputType.Email" Margin="Margin.Dense" Variant="Variant.Filled" Typo="Typo.caption"
                              Class="my-2"></MudTextField>

                <MudTextField T="string" Label="Email" ShrinkLabel
                              @bind-Value="@m_userModel.Email" For="@(() => m_userModel.Email)"
                              InputType="InputType.Email" Margin="Margin.Dense" Variant="Variant.Filled" Typo="Typo.caption"
                              Class="my-2"/>


                <MudText Typo="Typo.caption" Class="mt-6">
                    Please choose a strong password:
                </MudText>
                <MudTextField T="string" Label="Password" ShrinkLabel
                              @bind-Value="@m_userModel.Password" For="@(() => m_userModel.Password)"
                              Margin="Margin.Dense" Variant="Variant.Filled" Typo="Typo.caption" IconSize="Size.Small"
                              InputType="@m_passwordFieldInputType" Adornment="Adornment.End" AdornmentIcon="@PasswordFieldInputIcon"
                              OnAdornmentClick="OnPasswordVisibilityButtonClicked" AdornmentAriaLabel="Toggle visibility"
                              Class="my-2"></MudTextField>

                <MudTextField T="string" Label="Re-enter Password" ShrinkLabel
                              @bind-Value="@m_userModel.PasswordReEnter" For="@(() => m_userModel.PasswordReEnter)"
                              Margin="Margin.Dense" Variant="Variant.Filled" Typo="Typo.caption" IconSize="Size.Small"
                              InputType="@m_passwordFieldInputType" Adornment="Adornment.End" AdornmentIcon="@PasswordFieldInputIcon"
                              OnAdornmentClick="OnPasswordVisibilityButtonClicked" AdornmentAriaLabel="Toggle visibility"
                              Class="my-2"></MudTextField>


                <MudStack Justify="Justify.FlexStart" AlignItems="AlignItems.Center" Row="true">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" Class="my-4" Style="max-width: 7rem" OnClick="SubmitForm">
                        <MudText Typo="Typo.caption">
                            Register
                        </MudText>
                    </MudButton>
                    <MudLink Href="Login" Typo="Typo.caption">
                        Already have an account?
                    </MudLink>
                </MudStack>
            </MudForm>

            <MudDivider Class="my-4"/>

            <MudText Typo="Typo.body2" Class="my-4">
                <b>
                    Or sign up with:
                </b>
            </MudText>

            <MudStack Justify="Justify.FlexStart" AlignItems="AlignItems.Center" Row="true">
                <MudIcon Icon="@Icons.Custom.Brands.Microsoft"/>
                <MudIcon Icon="@Icons.Custom.Brands.Google"/>
                <MudIcon Icon="@Icons.Custom.Brands.GitHub"/>
            </MudStack>
        </MudPaper>
    };
}